body{
  background-image: url(/Images/beachfront.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed !important;
}
/*header*/
header{
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header h1{
  color: black;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  font-family: 'serif';
}
#logocar{
  width: 100% !important;
}
#logo{
  display: flex;
  background-color: rgba(17, 201, 176, 0.9);
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}
#logo img{
  width: 40px !important;
  height: auto;
  margin: 5px;
}
#logo h1{
  margin: 20px 0px 0px 30px;
  font-size: 22px;
  justify-content: center;
}
#menu{
  width: 100%;
  background-color:rgba(17, 201, 176, 0.7);
}
#menu ul{
  display: inline-flex;
  margin: 0px;
  padding: 0px 0px 0px 5px;
  width: 100%;
  align-items: center !important;
  justify-content: center;
}

#menu ul li{
  list-style: none;
  margin: 0px 10px 0px 10px;
}

#menu ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

#menu ul li a:hover{
  background-color: rgba(245, 247, 246,0.7);
  border-radius: 10px;
  padding: 3px;
}

.sub1{
  display: none;
  z-index: 1;
  border-radius: 10px;
}
#menu ul li:hover .sub1{
  display: block;
  position: absolute;
  background: rgb(223, 223, 201);
  margin-top: -8px;
  margin-left: -30px;
  transition: 0.4s;
}
#menu ul li:hover .sub1 ul{
  display: block;
  text-align: center;
  margin: 10px;
  margin-left: -10px;
}
#menu ul li:hover .sub1 ul li{
  width: 130px;
  padding: 10px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: left;
  color: blue;
}
#x0{
  margin-top: 10px !important;
  margin-left: 5px;
  text-align: left;
  color: black !important;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
}
#x0 img{
  width: 200px !important;
}
#Intro{
  width: 1100px;
  margin-left: 10px;
  background-color: rgb(224, 215, 202, 0.6);
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}
#Intro h2{
  background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
/* def1 is id for definition of about file*/
#def1{
  display: flex;
}
#def1 div{
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
  width: 400px;
  border-radius: 5px;
}
#education{
  background-color: rgba(65, 218, 111, 0.8);
  border-radius: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: 30px;
}
#project{
  padding: 20px;
  margin: 100px;
  border-radius: 10px;
  background-color: rgb(7, 7, 7, 0.6);
  color: aqua;
}
#project1{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(7, 7, 7, 0.6);
  display: flex;
  text-align: center;
}
#project1 div{
  margin: 30PX;
}
#project1 div button{
  border-radius: 10PX;
  height: 40px;
}
#project1 div button :hover{
  color: aqua;
  background-color: black;
}
#project1 div button a{
  text-decoration: none;
  font-weight: bold;
}
